<div class="card @CardCss">
    <div class="card-content @CardContentCss">
        <span class="card-title">@Title</span>
        @ChildContent
    </div>
</div>

@functions {
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private string CardCss { get; set; }
    [Parameter]
    private string CardContentCss { get; set; }
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}