<div class="card-image">
    <img src="@ImageSource">
    <span class="card-title">@Title</span>
</div>

@functions {
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private string ImageSource { get; set; }
}