@inherits Blazored.Materialize.Base.BaseComponent

<div class="card-content @Css">
    @if (!string.IsNullOrEmpty(Title)) 
    {
        <span class="card-title">@Title</span>
    }
    @ChildContent
</div>

@functions {
    [Parameter]
    private RenderFragment ChildContent { get; set; }
    [Parameter]
    private string Title { get; set; }
}