@inherits ButtonBase

<button disabled="@Disabled" class="btn waves-effect waves-light @(IsSmall ? "btn-small" : "") @(IsLarge ? "btn-large" : "")" type="submit" name="action">
    @ChildContent <i class="material-icons right">send</i>
</button>

@functions {
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}