@page "/"

<h1>Materialize Components</h1>

<h3>Buttons</h3>

<h4>Raised</h4>
<RaisedButton>Raised Button</RaisedButton>
<RaisedButton Disabled="true">Disabled Raised Button</RaisedButton>
<RaisedButton IsSmall="true">Small Raised Button</RaisedButton>
<RaisedButton IsLarge="true">Large Raised Button</RaisedButton>

<h4>Floating</h4>
<FloatingButton></FloatingButton>
<FloatingButton Disabled="true"></FloatingButton>

<h4>Flat</h4>
<FlatButton>Flat Button</FlatButton>
<FlatButton Disabled="true">Flat Button</FlatButton>
<FlatButton IsSmall="true">Flat Button</FlatButton>
<FlatButton IsLarge="true">Flat Button</FlatButton>

<h4>Submit Button</h4>
<SubmitButton>Submit Button</SubmitButton>
<SubmitButton Disabled="true">Submit Button</SubmitButton>
<SubmitButton IsSmall="true">Submit Button</SubmitButton>
<SubmitButton IsLarge="true">Submit Button</SubmitButton>

<h2>Collections</h2>

<Collection>
    <CollectionItem>Testing</CollectionItem>
    <CollectionItem>Testing</CollectionItem>
    <CollectionItem>Testing</CollectionItem>
    <CollectionItem>Testing</CollectionItem>
</Collection>

<Collection>
    <CollectionItem Link="http://www.google.co.uk">Testing With Link</CollectionItem>
    <CollectionItem Link="http://www.google.co.uk" IsActive="true">Testing With Link</CollectionItem>
    <CollectionItem Link="http://www.google.co.uk">Testing With Link</CollectionItem>
    <CollectionItem Link="http://www.google.co.uk">Testing With Link</CollectionItem>
</Collection>
