@page "/"

<div class="container">

<h1>Materialize Components</h1>

<h3>Cards</h3>

<h4>Basic Card</h4>

<div class="row">
    <div class="col m6">
        <Card CardCss="blue-grey darken-1">
            <CardContent Title="Basic Card" CardContentCss="white-text">
                <p>This is a load of content for the card.</p>
                <p>Here is a second paragraph of text.</p>              
            </CardContent>
            <CardAction>
                <CardLink>Link 1</CardLink>
                <CardLink>Link 2</CardLink>
                <CardLink>Link 3</CardLink>
            </CardAction>
        </Card>
    </div>
</div>

<h4>Image Card</h4>

<div class="row">
    <div class="col m6">
        <Card>
            <CardImage Title="Image Card" ImageSource="images/sample-1.jpg"></CardImage>
            <CardContent>
                <p>This is a load of content for the card.</p>
                <p>Here is a second paragraph of text.</p>              
            </CardContent>
            <CardAction>
                <CardLink>Link 1</CardLink>
                <CardLink>Link 2</CardLink>
                <CardLink>Link 3</CardLink>
            </CardAction>
        </Card>
    </div>
</div>

<h3>Breadcrumbs</h3>

<div class="row">
    <div class="col s12">
        <Breadcrumbs>
            <BreadcrumbLink>First</BreadcrumbLink>
            <BreadcrumbLink>Second</BreadcrumbLink>
            <BreadcrumbLink>Third</BreadcrumbLink>
        </Breadcrumbs>
    </div>
</div>

<h3>Buttons</h3>

<h4>Raised</h4>
<RaisedButton>Raised Button</RaisedButton>
<RaisedButton Disabled="true">Disabled Raised Button</RaisedButton>
<RaisedButton IsSmall="true">Small Raised Button</RaisedButton>
<RaisedButton IsLarge="true">Large Raised Button</RaisedButton>

<h4>Floating</h4>
<FloatingButton></FloatingButton>
<FloatingButton Disabled="true"></FloatingButton>

<h4>Flat</h4>
<FlatButton>Flat Button</FlatButton>
<FlatButton Disabled="true">Flat Button</FlatButton>
<FlatButton IsSmall="true">Flat Button</FlatButton>
<FlatButton IsLarge="true">Flat Button</FlatButton>

<h4>Submit Button</h4>
<SubmitButton>Submit Button</SubmitButton>
<SubmitButton Disabled="true">Submit Button</SubmitButton>
<SubmitButton IsSmall="true">Submit Button</SubmitButton>
<SubmitButton IsLarge="true">Submit Button</SubmitButton>

<h2>Collections</h2>

<Collection>
    <CollectionItem>Testing</CollectionItem>
    <CollectionItem>Testing</CollectionItem>
    <CollectionItem>Testing</CollectionItem>
    <CollectionItem>Testing</CollectionItem>
</Collection>

<LinkCollection>
    <CollectionItem Link="http://www.google.co.uk">Testing With Link</CollectionItem>
    <CollectionItem Link="http://www.google.co.uk" IsActive="true">Testing With Link</CollectionItem>
    <CollectionItem Link="http://www.google.co.uk">Testing With Link</CollectionItem>
    <CollectionItem Link="http://www.google.co.uk">Testing With Link</CollectionItem>
</LinkCollection>

</div>
